/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #000000;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* regole header */

#view-bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.icons a {
    background-color: rgb(97, 95, 96, 0.7);
    border-radius: 2px;
    padding: 5px;
    margin-right: 5px;
}



/* regole main */

#container {
    height: calc(100vh - 50px);
    margin-top: 50px;
    position: relative;
    /* DEBUG */
    background-color: violet;
}

.flex-container {
    height:calc(100% - 100px);
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.user {
    width: 250px;
    position: relative;
}

.user img {
    width: 100%;
}

.username {
    font-size: smaller;
    background-color: rgb(97, 95, 96, 0.7);
    padding: 5px;
    position: absolute;
    bottom: 3px;
    left: 0;
}



.toolbar {
    width: 100%;
    height: 100px;
    background-color: #222222;
}
