/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #000000;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}







/* regole view-bar */

#view-bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.icons a {
    background-color: rgb(97, 95, 96, 0.7);
    border-radius: 2px;
    padding: 5px;
    margin-right: 5px;
}








/* regole conteuto principale */

#wrapper {
    height: calc(100vh - 50px);
    margin-top: 50px;
    position: relative;
}

.flex-container {
    height:calc(100% - 100px);
    padding: 25px 50px;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: auto;
}

.user {
    width: 250px;
    position: relative;
}

.user img {
    width: 100%;
}

.username {
    font-size: smaller;
    background-color: rgb(97, 95, 96, 0.7);
    padding: 5px;
    position: absolute;
    bottom: 3px;
    left: 0;
}








/* regole toolbar */

.toolbar {
    width: 100%;
    height: 100px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    /* DEBUG */
    /* width: 200px; */
    height: 100%;
    /* background-color: aquamarine; */
}

.icon   {
    display: flex;
    align-items: center;
    padding: 10px;
}

.icon a {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button, .fa-solid.fa-chevron-up {
    font-size: smaller;
    padding: 4px;
}

.icon i {
    font-size: x-large;
}

#share-screen {
    color: #62fe0e;
}

.end {
    background-color: #4a4a4a;
}

#end-meeting {
    color: #f00000;
    padding: 0 30px;
}

